itadm.akmnn.de:443 {
    root /www/itadm
    gzip
    log ../access_itadm.log
    rewrite / {
      if {path} not_match ^/
      to {path} /
    }
}

shaconda.akmnn.de:443 {
    root /www/shaconda
    gzip
    log ../access_shaconda.log
    rewrite / {
      if {path} not_match ^/
      to {path} /
    }
}

youtrack.akmnn.de:443 {
  proxy / youtrack:8080 {
      websocket
      transparent
  }
}
