smrt.menu {
    root smrt
    try_files {path} {file} /index.html
    file_server
}

www.smrt.menu {
    redir https://smrt.menu{uri}
}

partner.smrt.menu {
    root smrt-partner
    file_server
}

akmnn.de {
    root hugo
    file_server
}

itadm.akmnn.de {
    redir https://akmnn.de/itadm
}
